.navbar-brand {
  font-size: 1.7rem;
}

.widthDiv {
  margin: 0 auto;
  max-width: 820px;
}

.jumbotron {
  background-image: url(assets/bg.jpg);
}

#logo {
  font-size: 4.5rem;
  color: white;
  font-family: "Staatliches", cursive;
  text-align: right;
}

#subLogo {
  color: white;
  font-size: 1.9rem;
  font-family: "Staatliches", cursive;
  text-align: right;
}
