h3 {
  font-size: 2.5rem;
}

.navbar-brand {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
}

a.navbar-brand::before {
  box-sizing: content-box;
}

p {
  line-height: 1.55;
}

.nav {
  margin-bottom: 0.5rem;
}

.widthDiv.container {
  margin: 0 auto;
  max-width: 830px;
}

.jumbotron {
  background-image: url(assets/bg1.jpg);
}

#logo {
  font-size: 4.8rem;
  color: white;
  font-family: "Staatliches", cursive;
  text-align: right;
  text-shadow: 0.04rem 0.04rem black;
}

#subLogo {
  color: white;
  font-size: 2rem;
  font-family: "Staatliches", cursive;
  text-align: right;
  text-shadow: 0.04rem 0.04rem black;
}

main {
  background: #343a40;
}

article {
  color: white;
}

.red {
  color: red;
}

.btn {
  margin: 1.5rem 0 1rem 0;
}

.big {
  font-size: 1.4rem;
}

.img-thumbnail {
}
